<div>
  <img src="../assets/Infrrd.PNG" class="logo">
  <div class="team-filter">
    <select aria-placeholder="Choose Team" (change)='teamFilter($event)'>
      <option  value=''>Choose Team</option>
      <option *ngFor='let team of teams'>{{team}}</option>
    </select><i class="fas fa-users"></i>
  </div>
</div>
<div class="wrapper">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a href='#'><i class="fas fa-table"></i>Overview</a></li>
        <li><a href='#'><i class="fas fa-envelope"></i>Messages</a></li>
        <li><a href='#' role="button" (click)="openSearchSliderfunc()"><i class="fas fa-search"></i>Search</a></li>
        <li><a href='#'><i class="fas fa-sort-amount-up-alt"></i>Filter</a></li>
        <li><a href='#'><i class="fas fa-history"></i>History</a></li>
      </ul>
    </nav>
    <div class="botton-menus">
      <ul>
        <li><a href='#'><i class="fas fa-comments"></i>Get Help</a></li>
        <li><a href='#'><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="this.openSearchSlider" class="search_slider">
    <form #filterEmployeeList="ngForm" (ngSubmit)='this.onclickSubmit(filterEmployeeList.value)' class="container">
      <a role="button" (click)="hideSearchSlider()"><i class="fas fa-arrow-left"></i></a><br>
      <label>Department:</label><br>
      <select name='department' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let department of departments'>{{department}}</option>
      </select>
      <label>Roll Type:</label><br>
      <select name='role' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let role of roleType'>{{role}}</option>
      </select>
      <label>Designation:</label><br>
      <select name='designation' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let designation of position'>{{designation}}</option>
      </select>
      <label>Experience:</label><br>
      <select name='experience' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let exp of experience'>{{exp}}</option>
      </select>
      <label>Years of Joining:</label><br>
      <select name='year' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let year of yearOfJoining'>{{year}}</option>
      </select>
      <label>Location:</label><br>
      <select name='location' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let location of locations'>{{location}}</option>
      </select>
      <label>Team:</label><br>
      <select name='team' ngModel>
        <option value=''>Select</option>
        <option *ngFor='let team of teams'>{{team}}</option>
      </select><br>
      <input type="reset" (click)='this.resetFunc()'>
      <input type="submit" value="submit">
    </form>
  </div>
  <div class="main_content">
    <div class="info">
      <div class="location-filter">
        <label>Show Only Bangalore Employees</label>
        <input type="checkbox" name="locationFilter" (change)='filterOnLocation($event)' [(ngModel)]='isChecked'>
      </div>
      <div *ngIf="this.filteredEmployeeList.length === 0">Sorry...!!! No Records found...</div>
    </div>
    <div class="content">
      <div *ngFor='let employee of filteredEmployeeList' class="floatybox">
        <img class="employee_image" [src]='employee.image' alt="Avatar">
        <label><strong>{{employee.name}}</strong></label><br>
        <label>{{employee.designation}}</label><br>
        <label><strong>Rating:</strong></label>
        <div class="rating">
      <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
      <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        </div>
        <br>
        <label><strong>Experience: </strong>{{employee.experience}} <strong>Date of Joining: </strong>
          {{employee.dateOfJoining}}</label><br>
        <label><strong>Current Team:</strong> {{employee.team}}</label><br>
        <label><strong>Reporting Manager:</strong> {{employee.reportingManager}}</label><br>
        <img class="image_icons" src="../assets/phone.png" alt="Avatar"><span>{{employee.phoneNumber}}</span>
        <img class="image_icons" src="../assets/email.png" alt="Avatar"><span>{{employee.email}}</span>
  
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>